html {
  background: #444;
  color: white;
}

.tt {
  position: absolute;
  text-align: left;
  user-select: none;
}

.tx {
  position: fixed;
  border-radius: 10px;
  padding: 10px;
  background: white;
  color: black;
  text-align: left;
  display: none;
}

.tt:hover .tx {
  display: block;
  z-index: 6;
  font-size: 16px;
}

#playmat {
  position: absolute;
  left: calc((100vw - 200vh) * 0.5);
  width: 200vh;
  height: 100vh;
  opacity: 35%;
}

.card,
#piles>div {
  color: black;
  width: 42px;
  height: 62px;
  border-radius: 3px;
  border: 4px solid rgba(0, 0, 0, 0);
  font-size: 12px;
}

.card:not(.noabs) {
  position: absolute;
}

.card.tapped {
  color: #666;
}

.card.tt>.tx::first-line {
  line-height: 25px;
}

#cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  user-select: none;
  pointer-events: none;
  z-index: 3;
  transition: 1s;
}

#endturn,
#confirm,
#pass,
#endphase {
  position: absolute;
  right: 10px;
  height: 30px;
  border-radius: 20px;
  padding: 0 20px 0 20px;
  top: calc(50% - 15px);
}

#pass {
  right: 132px;
}

#pass:not(.pushed) {
  background: yellow;
}

#endphase {
  right: 75px;
}

button.cool:hover {
  background: lawngreen;
}

button,
.tt,
.clickablemana,
.clickablegen,
#targetinfo {
  transition: 0.2s;
}

button.pushed {
  opacity: 70%;
  color: gray;
}

#targetinfo {
  text-align: center;
  width: 100%;
}

#stack {
  position: absolute;
  left: 0;
  width: 25vw;
  height: 40vh;
  top: calc(50% - 20vh);
  padding: 10px;
  font-size: 15px;
}

.horizontalbar {
  left: 0;
  width: 100%;
  position: absolute;
  background: gray;
  height: 8px;
  opacity: 50%;
}

hline {
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #fff, #888 15%, #888 85%, #fff);
  margin: 7px 0 7px 0;
}

.slugcat {
  width: 20px;
  height: 20px;
  transform: translate(-1px, 5px);
}

.symbol {
  width: 15px;
  height: 15px;
  transform: translate(-1px, 3px);
}

.playerinfo {
  position: absolute;
  text-align: right;
  right: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
}

.valid {
  border: 4px solid orange;
}

.selected {
  border: 4px solid yellow;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.contained {
  position: absolute;
  text-align: center;
  background: gray;
  left: 25%;
  width: 50%;
  top: 10px;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
}

#optlist>div,
.submitter {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.5);
  transition: 0.3s;
  user-select: none;
}

#optlist>div.chosen {
  background: rgba(0, 0, 200, 0.5);
}

.submitter {
  background: #ddd;
}

.submitter:not(.submittable) {
  opacity: 70%;
  color: gray;
}

.submittable:hover {
  background: lawngreen;
}

#piles>div {
  position: absolute;
  left: 10px;
}

#pileviewer {
  position: absolute;
  text-align: center;
  left: 20vw;
  top: 10px;
  width: 60vw;
  height: 200px;
  border-radius: 10px;
  background: gray;
  padding: 10px;
}

#pccgrid {
  position: absolute;
  text-align: center;
  background: gray;
  left: 20%;
  width: 60%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "t t"
    "l r"
    "b b"
    "c c";
}

#topbit {
  grid-area: t;
  margin-bottom: 20px;
}

#pccsymbols {
  grid-area: r;
}

#pcctopay {
  grid-area: l;
}

#pccgeneric {
  margin-top: 20px;
  grid-area: b;
}

#pccsubmit {
  grid-area: c;
}

button:not(.pushed):not(.submitter:not(.submittable)),
.clickablemana,
.clickablegen {
  cursor: pointer;
}

.selectedmana {
  background: pink;
}